{% extends "base.html" %}
{% block content %}
    <div class="row">
        {% for staff in staff_list %}
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="https://1.bp.blogspot.com/-aFQ-W_KTFWQ/V6BdtpSUy6I/AAAAAAAAAH4/xD_U-BYItSsNvk1UGfROqLBzzU1h32oXQCLcB/s320/4-diwali-greeting-cards-by-ajay-acharya.jpg" alt="Bootstrap Thumbnail: Beautiful Bootstrap Thumbnail like Material Design Cards">
                    <div class="caption">
                        <h4>{{ staff.last_name }} {{ staff.name }} {{ staff.middle_name }}</h4>
                        <p>
                            <a href="{{ request.path }}{{ staff.id }}" class="btn btn-small" role="button">Посмотреть CV</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% include "partials/pagination.html" %}
{% endblock %}