{%  extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col-xs-4 left">
            <img class="img-responsive logo"
                 src="https://bafe.edu.kg/wp-content/uploads/2017/01/logo23.png"/>
        </div>
        <div class="col-xs-8 right">
            <h4 class="header-text">Резюме</h4>
        </div>
    </div>

    <!-- Personal Information START -->
        <div class="row">
            <div class="col-xs-4">
                <h4 class="text-right">Персональная информация </h4>
            </div>
            <div class="col-xs-8">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="heading">{{ cv.last_name }} {{ cv.name }} {{ cv.middle_name }}</div>
                        <ul>
                            <li>
                                {% if address_list %}
                                    <span>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i> {{ address_list.address }} {{ address_list.city }} {{ address_list.district }} {{ address_list.region }} {{ address_list.country }}
                                    </span>
                                {% else %}
                                    <span>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </span>
                                {% endif %}
                            </li>
                            <li>
                                <span><i class="fa fa-phone" aria-hidden="true"></i>{{ cv.phone }}</span>
                            </li>
                            <li><i class="fa fa-envelope"></i><a href="#">{{ cv.email }}</a></li>
                            <li>
                                <span>
                                    <label>Пол</label>
                                    {{ cv.get_sex_display }}
                                </span>&nbsp|&nbsp
                                <span>
                                    <label>Дата рождения</label>
                                    {{ cv.birthdate }}
                                </span>
                            </li>
                        </ul>
                    </div>
                    <duv class="col-xs-4">
                        <img class="img-responsive avatar"
                             src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png"/>
                    </duv>
                </div>
            </div>
        </div>
    <!-- Personal Information END -->

    <!-- Work Experience START -->
    {% if work_list %}
        <div class="row mb">
            <div class="col-xs-4">
                <h4 class="text-right">Опыт работы</h4>
            </div>
            <div class="col-xs-8">
                <hr>
            </div>
        </div>
        <div class="row mb">
            {% for work in work_list %}
                <div class="col-xs-4">
                    <h5 class="date_ex">{{ work.start|date:'M Y'}} – {{ work.end|date:'M Y'}}</h5>
                </div>
                <div class="col-xs-8">
                    <div class="heading">{{ work.position }}</div>
                    <span>{{ work.workplace }}</span>
                    <p></p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <!-- Work Experience END -->

    <!-- Education START -->
    {% if education_list %}
        <div class="row mb">
            <div class="col-xs-4">
                <h4 class="text-right">Образование и тренинги</h4>
            </div>
            <div class="col-xs-8">
                <hr>
            </div>
        </div>
        <div class="row mb">
            {% for education in education_list %}
                <div class="col-xs-4">
                    <h5 class="date_ex">{{ education.start|date:'Y' }} – {{ education.end|date:'Y' }}</h5>
                </div>
                <div class="col-xs-8">
                    <div class="heading">{{ education.specialization }}</div>
                    <span>{{ education.university }}</span>
                    <p>{{ education.additional }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <!-- Education END -->

    <!-- Personal Skills START -->
        <div class="row mb">
            <div class="col-xs-4">
                <h4 class="text-right">Персональные навыки</h4>
            </div>
            <div class="col-xs-8">
                <hr>
            </div>
        </div>

    <!-- Languages Skills START -->
        <div class="row mb">
            <div class="col-xs-4">
                <h5 class="blue">Родной язык</h5>
            </div>
            <div class="col-xs-8">
                <span>{{ cv.mother_tongue }}</span>
            </div>
        </div>
        <div class="row mb">
            <div class="col-xs-4">
                <h5 class="blue">Другие языки</h5>
            </div>
            <div class="col-xs-8">
                <div class="row">
                    <div class="col-xs-4 border-top">
                        <div class="heading text-center blue">UNDERSTANDING</div>
                        <div class="row border-top">
                            <div class="col-xs-6 border-right text-center blue">Listening</div>
                            <div class="col-xs-6 text-center blue">Reading</div>
                        </div>
                    </div>
                    <div class="col-xs-4 border-top">
                        <div class="heading text-center blue">SPEAKING</div>
                        <div class="row border-top">
                            <div class="col-xs-6 border-right border-left text-center blue">Spoken interaction</div>
                            <div class="col-xs-6 border-right text-center blue">Spoken production</div>
                        </div>
                    </div>
                    <div class="col-xs-4 border-top border-bottom">
                        <div class="heading text-center blue">WRITING</div>
                    </div>
                </div>
            </div>
        </div>

    {% if langknowledge_list %}
        {% for lang in langknowledge_list %}
            <div class="row mb">
                <div class="col-xs-4">
                    <h5>{{ lang.language }}</h5>
                </div>
                <div class="col-xs-8 border-top">
                    <div class="prelevels">
                        <!-- UNDERSTANDING level START-->
                        <span class="levels">{{ lang.understanding_listening }}</span>
                        <span class="levels">{{ lang.understanding_reading }}</span>
                        <!-- UNDERSTANDING level END-->
                        <!-- SPEAKING level START-->
                        <span class="levels">{{ lang.speaking_interaction }}</span>
                        <span class="levels">{{ lang.speaking_production }}</span>
                        <!-- SPEAKING level END-->
                        <!-- WRITING level START-->
                        <span class="levels">{{ lang.writing }}</span>
                        <!-- WRITING level END-->
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

        <div class="row mb">
            <div class="col-xs-offset-4 col-xs-8 mt">
                <h5 class="footering">Levels: A1/A2: Basic user - B1/B2: Independent user - C1/C2: Proficient user</h5>
                <h5 class="footering"><a href="#">Common European Framework of Reference for Languages</a></h5>
            </div>
        </div>
    <!-- Languages Skills END -->


        <div class="row mb">
            <div class="row">
                {% if addition_list %}
                    {% for additional in addition_list %}
                        <!-- Communication skills START -->
                        <div class="row mb">
                            <div class="col-xs-4">
                                <h4 class="text-right">Коммуникативные навыки</h4>
                            </div>
                            <div class="col-xs-offset-4">
                                <p>{{ additional.communicate_exp | linebreaks}}</p>
                            </div>
                        </div>
                        <!-- Communication skills END -->
                        <!-- Organization skills START -->
                        <div class="row mb">
                            <div class="col-xs-4">
                                <h4 class="text-right">Организационные навыки</h4>
                            </div>
                            <div class="col-xs-offset-4">
                                <p>{{ additional.organization_exp | linebreaks }} </p>
                            </div>
                        </div>
                        <!-- Organization skills END -->
                        <!-- Computer skills START -->
                        <div class="row mb">
                            <div class="col-xs-4">
                                <h4 class="text-right">Компьютерные навыки</h4>
                            </div>
                            <div class="col-xs-offset-4">
                                <span>{{ additional.compexp_code }}</span>
                                <p>{{ additional.compexp_desc | linebreaks }}</p>
                            </div>
                        </div>
                        <!-- Computer skills END -->
                        <!-- Other skills START -->
                        <div class="row mb">
                            <div class="col-xs-4">
                                <h4 class="text-right">Дополнительные навыки </h4>
                            </div>
                            <div class="col-xs-4">
                                <p>{{ additional.note | linebreaks }}</p>
                            </div>
                        </div>
                        <!-- Other skills END-->
                        <!-- Driving licence START -->
                        <div class="row mb">
                            <div class="col-xs-4">
                                <h4 class="text-right">Вод. удостоверение </h4>
                            </div>
                            <div class="col-xs-8">
                                <p>{{ additional.driver_license }}</p>
                            </div>
                        </div>
                        <!-- Driving licence END -->
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    <!-- Personal Skills END -->


    <!-- Additional Skills START -->
        <div class="row mb">
            <div class="col-xs-4">
                <h4 class="text-right">Дополнительная информация</h4>
            </div>
            <div class="col-xs-offset-8">
            </div>
        </div>

    {% if publications_list %}
        <!-- Publications START -->
        <div class="row mb">
            <div class="col-xs-4">
                <h4 class="text-right">Публикации</h4>
            </div>
            <div class="col-xs-8">
                <hr>
            </div>
        </div>
        <div class="row mb">
        {% for publication in publications_list %}
            <div class="col-xs-4">
                <h5 class="date_ex">{{ publication.date | date:'Y' }}</h5>
            </div>
            <div class="col-xs-8">
                <p>{{ publication.name }}</p>
            </div>
        {% endfor %}
        </div>
        <!-- Publications END -->
    {% endif %}

    {% if projects_list %}
        <!-- Conferences START -->
        <div class="row mb">
            <div class="col-xs-4">
                <h4 class="text-right">Конференции</h4>
            </div>
            <div class="col-xs-8">
                <hr>
            </div>
        </div>
        <div class="row mb">
            {% for conference in conferences_list %}
                <div class="col-xs-4">
                    <h5 class="date_ex">{{ conference.date|date:'d M Y' }}</h5>
                </div>
                <div class="col-xs-8">
                    <div class="heading">{{ conference.name }}</div>
                    <span>{{ conference.location }}</span>
                    <p>{{ conference.organization }}</p>
                </div>
            {% endfor %}
        </div>
        <!-- Conferences END -->
    {% endif %}

    {% if projects_list %}
        <!-- Projects START -->
        <div class="row mb">
            <div class="col-xs-4">
                <h4 class="text-right">Проекты</h4>
            </div>
            <div class="col-xs-8">
                <hr>
            </div>
        </div>
        <div class="row mb">
            {% for project in projects_list %}
                <div class="col-xs-4">
                    <h5 class="date_ex">{{ project.date|date:'M Y' }}</h5>
                </div>
                <div class="col-xs-8">
                    <div class="heading">{{ project.name }}</div>
                    <p>{{ project.duties }}</p>
                </div>
            {% endfor %}
        </div>
        <!-- Projects END -->
    {% endif %}

    {% if seminars_list %}
        <!-- Seminars START -->
        <div class="row mb">
            <div class="col-xs-4">
                <h4 class="text-right">Семинары</h4>
            </div>
            <div class="col-xs-8">
                <hr>
            </div>
        </div>
        <div class="row mb">
            {% for seminar in seminars_list %}
                <div class="col-xs-4">
                    <h5 class="date_ex">{{ seminar.date|date:'M Y' }}</h5>
                </div>
                <div class="col-xs-8">
                    <p>{{ seminar.name }}</p>
                </div>
            {% endfor %}
        </div>
        <!-- Seminars END -->
    {% endif %}
{% endblock %}
