{%  extends "base.html" %}
{% block content %}
    <div class="space-between-lines-begunok">
        <div class="row">
            <div class="col-xs-7">
                <h4 class="text-right"><strong>{{ settings_ru.longname }}</strong></h4>
            </div>
            <div class="col-offset-xs-2">
                <h6 class="right">{% now "SHORT_DATETIME_FORMAT" %}</h6>
            </div>
        </div>
        <div class="row">
            <h6 class="text-right"><u><strong>{{ groups.learningform }} Семестр: {{ groups.semestr }}</strong></u></h6>
        </div>
        <div class="row">
            <h5 class="text-center"><strong>Экзаменационный лист №_____________</strong></h5>
        </div>
        <div class="row">
            <h6 class="text-center">(для сдачи экзамена или зачета вне группы - подшивается к основной ведомости)</h6>
        </div>
        <div class="row">
            <div class="col-xs-2"><h5 class="text-center"></h5></div>
            <div class="col-xs-3"><h5 class="text-left">Группа</h5></div>
            <div class="col-xs-7"><h5 class="text-left"><strong>{{ begunok.group_code }}</strong></h5></div>
        </div>
        </br>
        <div class="row">
            <div class="col-xs-2"><h5 class="text-center"></h5></div>
            <div class="col-xs-3"><h5 class="text-left">Дисциплина</h5></div>
            <div class="col-xs-7"><h5 class="text-left"><strong>({{ begunok.disc_code.id }}) {{ begunok.disc_code }}</strong></h5></div>
        </div>
        </br>
        <div class="row">
            <div class="col-xs-2"><h5 class="text-center"></h5></div>
            <div class="col-xs-10"><h5 class="text-left">Экзаменатор _______________________________________________________________________</h5></div>
        </div>
        </br>
        <div class="row">
            <div class="col-xs-2"><h5 class="text-center"></h5></div>
            <div class="col-xs-3"><h5 class="text-left">ФИО студента</h5></div>
            <div class="col-xs-7"><h5 class="text-left"><strong>{{ begunok.student.first_name }} {{ begunok.student.name }} {{ begunok.student.last_name }}</strong></h5></div>
        </div>
        </br>
        <div class="row">
            <div class="col-xs-2"><h5 class="text-center"></h5></div>
            <div class="col-xs-3"><h5 class="text-left">ID номер студ</h5></div>
            <div class="col-xs-7"><h5 class="text-left"><strong>{{ begunok.student.id }}</strong></h5></div>
        </div>
        </br>
        <div class="row">
            <div class="col-xs-2"><h5 class="text-center"></h5></div>
            <div class="col-xs-3"><h5 class="text-left">Дата выдачи</h5></div>
            <div class="col-xs-7"><h5 class="text-left"><strong>{% now "SHORT_DATETIME_FORMAT" %}</strong></h5></div>
        </div>
        </br>
        <div class="row">
            <div class="col-xs-2"><h5 class="text-center"></h5></div>
            <div class="col-xs-3"><h5 class="text-left">Действителен до</h5></div>
            <div class="col-xs-7"><h5 class="text-left"><strong>{{ until_date | date:"SHORT_DATETIME_FORMAT" }}</strong></h5></div>
        </div>
        </br>
        <div class="row">
            <div class="col-xs-6"><h5 class="text-center"></h5></div>
            <div class="col-xs-6"><h5 class="text-left"><strong>Начальник учебного отдела _______________</strong></h5></div>
        </div>
        </br>
        <div class="row">
            <div class="col-xs-6"><h5 class="text-center"></h5></div>
            <div class="col-xs-6"><h5 class="text-left"><strong>Дата сдачи _____________________________________</strong></h5></div>
        </div>
        </br>
        <div class="row">
            <div class="col-xs-2"><h5 class="text-center"></h5></div>
            <div class="col-xs-4"><h5 class="text-left"><strong>Оценка ___________________</strong></h5></div>
            <div class="col-xs-6"><h5 class="text-left"><strong>Подпись экзаменатора ______________________</strong></h5></div>
        </div>
    </div>
{% endblock %}
