{% extends "base.html" %}
{% block content %}

    <div class="row">
        <h4 class="text-center"><b>{{ settings_ru.longname }}</b></h4>
        <h5 class="text-center">{{ groups.learningform }}</h5>
        <h5 class="text-center">Экзаменационная ведомость   №_____</h5>
    </div>
    <br/>
    <div class="row">
        <h6 class="margin-2px">Семестр <u>{{ groups.semestr }} {{ marks.year_start|date:"Y"}}-{{ marks.year_end|date:"Y"}} уч. год</u></h6>
        <h6 class="margin-2px">Форма контроля: зачет, экзамен (подчеркнуть)</h6>
        <h6 class="margin-2px">Группа: <u>{{ groups.code }}</u>  Курс:  </h6>
        <h6 class="margin-2px">Дисциплина  <b><u>{{ uchplgr.subject.id }} {{ uchplgr.subject }}</u></b></h6>
        <h6 class="margin-2px">Фамилия, имя, отчество экзаменаторов______________________</h6>
        <h6 class="margin-2px">Дата проведения контроля (экзамен, зачет)      «____»________________________201____ г.</h6>
    </div>
    <br>
    <div class="table-print-body row">
        <table>
           <thead>
            <tr>
               <th rowspan=3 width="5%"></th>
               <th rowspan=3 width="40%">Ф. И. О. студента</th>
               <th rowspan=2 width="10%">Оценка в баллах по (контр. раб., реферат, РЗ)</th>
               <th rowspan=2 width="10%">Текущий контроль</th>
               <th rowspan=2 width="5%">Баллы доп. контроля</th>
               <th colspan=1 width="10%">Сумма баллов</th>
               <th colspan=1 width="10%">Баллы итог. письмен. контроля </th>
               <th colspan=1 width="10%">Общ. Сумма баллов промежуточного контроля</th>
            </tr>
            <tr>
               <th rowspan=1>До 100 баллов</th>
               <th rowspan=1>До 100 баллов</th>
               <th rowspan=1>До 200 баллов</th>
            </tr>
            <tr>
               <th>1</th>
               <th>2</th>
               <th rowspan=2>3</th>
               <th rowspan=2>4(1+2+3)</th>
               <th colspan=1>5</th>
               <th colspan=1>6(4+5)</th>
            </tr>
           </thead>
           <tbody>
              <tr>
                 <td></td>
                 <td></td>
                 <td align="center" valign="middle">___балл</td>
                 <td align="center" valign="middle">___балл</td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
              </tr>
              {% if students_m %}
                  {% for uchpl in students_m %}
                      <tr>
                          <td align="center" valign="middle">{{ forloop.counter }}</td>
                          <td valign="middle">{{ uchpl.student }}</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                      </tr>
                  {% endfor %}
              {% endif %}
              <tr>
                <td align="center" valign="middle" colspan=2>Подпись экзаменатора</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>

           </tbody>
        </table>
    </div>
    <br>
    <div class="row">
        <h6 class="margin-2px">Число студентов на экзамене, зачете____________</h6>
        <div class="row">
            <div class="col-xs-3">
                <h6 class="margin-2px">Из них получивших</h6>
            </div>
            <div class="col-xs-9">
                <h6 class="text-left margin-2px">"отлично"_________</h6>
                <h6 class="text-left margin-2px">"хорошо" _________</h6>
                <h6 class="text-left margin-2px">"удовл"  _________</h6>
                <h6 class="text-left margin-2px">"неудовл"_________</h6>
            </div>
        </div>


        <h6 class="margin-2px">Число студентов не явившихся на экзамен, зачет__________</h6>
        <h6 class="margin-2px">Число студентов не допущенных к экзамену, зачету_______</h6>
        <h5 class="text-center margin-2px"><strong>Начальник учебного отдела ______ {{ settings_ru.uotdel }}</strong></h5>
        <h6><strong>Запрещается:</strong></h6>
        <h6 class="margin-2px">1. Принимать экзамены и зачеты у студентов, не внесенных в данную   экзаменационную ведомость.</h6>
        <h6 class="margin-2px">2. Принимать экзамены в сроки, не установленные утвержденным расписанием, кроме случаев, специально разрешенных учебным отделом.</h6>
        <h6 class="margin-2px">3. Сдавать ведомость с исправлениями.</h6>
    </div>

{% endblock %}