{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<ul class="breadcrumb">
    <li>
        <p>YOU ARE HERE</p>
    </li>
    <li>
        <a href="#" class="active">SubPage</a>
    </li>
</ul>
<div class="page-title"> <i class="icon-custom-left"></i>
    <h3>Добавление - <span class="semi-bold">Студента</span></h3>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="grid-simple">
            <div class="grid-body no-border">
                <div class="row">
                    <div class="col-md-8">
                        <form id="form_traditional_validation" method="POST" class="post-form" novalidate="novalidate">
                            {% csrf_token %}
                            {% include 'includes/bootstrap3_forms.html' with form=form %}
                            <button type="submit" class="save btn btn-default">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}