{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Breadcrumb -->

<div class="row">
    <div class="col-md-6">
        <div class=" tiles white col-md-12 no-padding">
            <div class="tiles green cover-pic-wrapper">
                <div class="overlayer bottom-right">
                    <div class="overlayer-wrapper">
                        <div class="padding-10 hidden-xs">
                            <button type="button" class="btn btn-primary btn-small"><i class="fa fa-check"></i>&nbsp;&nbsp;Following</button> <button type="button" class="btn btn-primary btn-small">Add</button>
                        </div>
                    </div>
                </div>
            <img src="{% static "assets/images/cover_pic.png" %}" alt="">
            </div>
            <div class="tiles white">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="user-profile-pic">
                            <img width="69" height="69"
                                 data-src-retina="{% static "assets/images/profiles/avatar2x.jpg" %}"
                                 data-src="{% static "assets/images/profiles/avatar.jpg" %}"
                                 src="{% static "assets/images/profiles/avatar.jpg" %}" alt="">
                        </div>
                        <div class="user-mini-description">
                            <h3 class="text-success semi-bold">2548</h3>
                            <h5>Followers</h5>
                            <h3 class="text-success semi-bold">457</h3>
                            <h5>Following</h5>
                        </div>
                    </div>
                    <div class="col-md-5 user-description-box  col-sm-5">
                        <h4 class="semi-bold no-margin">John Smith</h4>
                        <h6 class="no-margin">CEO of web-arch.co.uk</h6>
                        <br>
                        <p><i class="fa fa-briefcase"></i>UI &amp; Graphic Design</p>
                        <p><i class="fa fa-globe"></i>www.google.com</p>
                        <p><i class="fa fa-file-o"></i>Download Resume</p>
                        <p><i class="fa fa-envelope"></i>Send Message</p>
                    </div>
                    <div class="col-md-3  col-sm-3">
                        <h5 class="normal">Friends(<span class="text-success">1223</span>)</h5>
                        <ul class="my-friends">
                            <li><div class="profile-pic">
                                <img width="35" height="35"
                                     data-src-retina="{% static "assets/images/profiles/d2x.jpg" %}"
                                     data-src="{% static "assets/images/profiles/d.jpg" %}"
                                     src="{% static "assets/images/profiles/d.jpg" %}" alt="">
                                </div>
                            </li>
                            <li><div class="profile-pic">
                                <img width="35" height="35"
                                     data-src-retina="{% static "assets/images/profiles/d2x.jpg" %}"
                                     data-src="{% static "assets/images/profiles/d.jpg" %}"
                                     src="{% static "assets/images/profiles/d.jpg" %}" alt="">
                                </div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
        <div class="tiles white col-md-12  no-padding">
            <div class="tiles-body">
                <h5><span class="semi-bold">You many also know</span>&nbsp;&nbsp; <a href="#" class="text-info normal-text">view more</a></h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="friend-list">
                            <div class="friend-profile-pic">
                                <div class="user-profile-pic-normal">
                                <img width="35" height="35"
                                     src="{% static "assets/images/profiles/d.jpg" %}"
                                     data-src="{% static "assets/images/profiles/d.jpg" %}"
                                     data-src-retina="{% static "assets/images/profiles/d2x.jpg" %}" alt="">
                                </div>
                            </div>
                            <div class="friend-details-wrapper">
                                <div class="friend-name">
                                    Johne Drake
                                </div>
                                <div class="friend-description">
                                    James Smith in commman
                                </div>
                            </div>
                            <div class="action-bar pull-right">
                                <button class="btn btn-primary" type="button">Add</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="friend-list">
                            <div class="friend-profile-pic">
                                <div class="user-profile-pic-normal">
                                <img width="35" height="35" src="/static/assets/images/profiles/b.jpg" data-src="/static/assets/images/profiles/b.jpg" data-src-retina="/static/assets/images/profiles/b2x.jpg" alt="">
                                </div>
                            </div>
                            <div class="friend-details-wrapper">
                                <div class="friend-name">
                                    Johne Drake
                                </div>
                                <div class="friend-description">
                                    James Smith in commman
                                </div>
                            </div>
                            <div class="action-bar pull-right">
                                <button class="btn btn-primary" type="button">Add</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="tiles white">
                    <textarea rows="3" class="form-control user-status-box post-input" placeholder="Whats on your mind?"></textarea>
                </div>
                <div class="tiles grey padding-10">
                    <div class="pull-left">
                        <button class="btn btn-default btn-sm btn-small" type="button">
                            <i class="fa fa-camera"></i>
                        </button>
                        <button class="btn btn-default btn-sm btn-small" type="button">
                            <i class="fa fa-map-marker"></i>
                        </button>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-primary btn-sm btn-small" type="button">Опубликовать</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>
{% endblock %}