{% extends "base.html" %}
{% load staticfiles %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static "assets/plugins/DataTables/DataTables-1.10.16/css/jquery.dataTables.css" %}"/>
{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span-12">
        <div class="grid simple">
            <div class="grid-title">
                <h4>
                    <span class="semi-bold">Список студентов</span>
                </h4>
            </div>
            <div class="grid-body" style="overflow: hidden; display: block;">
                <table id="abiturient" class="table responsive table-striped dataTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Группа</th>
                            <th>Фамилия</th>
                            <th>Имя</th>
                            <th>Отчество</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>
{% endblock %}
{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "assets/plugins/DataTables/DataTables-1.10.16/js/jquery.dataTables.js" %}"></script>
<script type="text/javascript" src="{% static "assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/plugins/jquery-block-ui/jqueryblockui.js"%}"></script>
<script type="text/javascript" src="{% static "assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js"%}"></script>
<script type="text/javascript" src="{% static "assets/plugins/bootstrap-select2/select2.min.js"%}"></script>
<script type="text/javascript" src="{% static "assets/plugins/jquery-datatable/js/jquery.dataTables.min.js"%}"></script>
<script type="text/javascript" src="{% static "assets/plugins/jquery-datatable/extra/js/dataTables.tableTools.min.js"%}"></script>
<script type="text/javascript" src="{% static "assets/plugins/datatables-responsive/js/datatables.responsive.js"%}"></script>
<script type="text/javascript" src="{% static "assets/plugins/datatables-responsive/js/lodash.min.js"%}"></script>

<script>
$('#abiturient').dataTable({
    responsive: true,
    select: true,
    buttons: [
        'pdf',
    ],
    ajax: {
        url: '/api/students/?format=json',
        dataSrc: ''
    },
    aoColumns: [
        { "data": "id"},
        { "data": "group_code"},
        { "data": "first_name"},
        { "data": "name"},
        { "data": "last_name"}
    ],
    "columnDefs": [
        {
            "className": "dt-center", "targets": "_all"
        }
      ],
    language :{
        "url": "{% static "assets/plugins/DataTables/DataTables-1.10.16/lang/russian.json" %}"
    }
});
</script>
{% endblock %}

