{% extends "base.html" %}
{% block content %}
<div class="grid simple ">
    <div class="grid-title">
        <h4>
            <span class="semi-bold">Учебный план студента</span>
        </h4>
    </div>
    <div class="grid-body " style="overflow: hidden; display: block;">
        <div id="example_wrapper">
            <table class="display" cellspacing="0" width="100%">
                <thead>
                    <tr role="row">
                        <th style="width:1%" class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">
                            <div class="checkbox check-default" style="margin-right:auto;margin-left:auto;">
                                <input type="checkbox" value="1" id="checkbox1">
                                <label for="checkbox1"></label>
                            </div>
                        </th>
                        <th style="width:5%" role="columnheader" tabindex="0" rowspan="1" colspan="1">ID</th>
                        <th style="width:15%" role="columnheader" tabindex="0" rowspan="1" colspan="1">Группа</th>
                        <th style="width:5%" role="columnheader" tabindex="0" rowspan="1" colspan="1">Студент</th>
                        <th style="width:5%" role="columnheader" tabindex="0" rowspan="1" colspan="1">Семестр</th>
                        <th style="width:10%" role="columnheader" tabindex="0" rowspan="1" colspan="1">Предмет</th>
                        <th style="width:10%" role="columnheader" tabindex="0" rowspan="1" colspan="1">Часы</th>
                        <th style="width:10%" role="columnheader" tabindex="0" rowspan="1" colspan="1">Кредиты</th>
                        <th style="width:10%" role="columnheader" tabindex="0" rowspan="1" colspan="1">Баллы</th>
                        <th style="width:10%" role="columnheader" tabindex="0" rowspan="1" colspan="1">Оценка</th>
                        <th style="width:20%" role="columnheader" tabindex="0" rowspan="1" colspan="1">Контроль</th>
                        <th style="width:20%" role="columnheader" tabindex="0" rowspan="1" colspan="1">№ бег</th>
                        <th style="width:20%" role="columnheader" tabindex="0" rowspan="1" colspan="1">№ ведом</th>
                        <th style="width:20%" role="columnheader" tabindex="0" rowspan="1" colspan="1">Дата сдачи</th>
                    </tr>
                </thead>

                <tbody role="alert" aria-live="polite" aria-relevant="all">
                    {% for plan in uchplanstudent_list %}
                        <tr>
                            <td class=" ">
                                <div class="checkbox check-default">
                                    <input type="checkbox" value="{{ plan.id }}" id="checkbox{{ plan.id }}">
                                    <label for="checkbox{{ plan.id }}"></label>
                                </div>
                            </td>
                            <td>{{ plan.id }}</td>
                            <td>{{ plan.group_code }}</td>
                            <td>{{ plan.student }}</td>
                            <td>{{ plan.semestr }}</td>
                            <td>{{ plan.disc_code }}</td>
                            <td>{{ plan.clock }}</td>
                            <td>{{ plan.credit }}</td>
                            <td>{{ plan.ball }}</td>
                            <td>{{ plan.ocenka }}</td>
                            <td>{{ plan.get_controlb_display }}</td>
                            {% if begunok %}
                                <td>{{ plan.number_of_begunok }}</td>
                            {% else %}
                                <td> - </td>
                            {% endif %}
                            <td>{{ plan.number_of_vedomost }}</td>
                            <td>{{ plan.edited | date:"d/m/Y" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}