{% extends "base.html" %}
{% block content %}
<div class="grid simple ">
    <div class="grid-title">
        <h4>
            <span class="semi-bold">Учебный план групп</span>
        </h4>
    </div>
    <div class="grid-body " style="overflow: hidden; display: block;">
        <div id="example_wrapper" class="dataTables_wrapper form-inline" role="grid">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr role="row">
                        <th style="width:5%">ID</th>
                        <th style="width:15%">Группа</th>
                        <th style="width:5%">Семестр</th>
                        <th style="width:10%">Предмет</th>
                        <th style="width:25%">Препод.</th>
                        <th style="width:10%">Часы</th>
                        <th style="width:10%">Кредиты</th>
                        <th style="width:20%">Контроль</th>
                    </tr>
                </thead>
                <tbody>
                    {% for plan in uchplangroup_list %}
                        <tr>
                            <td>{{ plan.id }}</td>
                            <td>{{ plan.group }}</td>
                            <td>{{ plan.semestr }}</td>
                            <td>{{ plan.subject }}</td>
                            <td>{{ plan.teacher }}</td>
                            <td>{{ plan.clock }}</td>
                            <td>{{ plan.credit }}</td>
                            <td>{{ plan.get_control_display }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}