{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <h4 class="text-center"><b>{{ settings_ru.longname }}</b></h4>
        </div>
    </div>
    <div class="row">
            <div class="col-xs-7">
                <h5 class="text-right"><b>{{ groups.learningform }} {{ groups.code }}</b></h5>
            </div>
            <div class="col-xs-5">
                {% for uchpl in students_m %}
                    {% if forloop.first %}
                        <h6 class="text-right">№ ведомости: {{ uchpl.number_of_vedomost }}</h6>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    <br/>
    <div class="row">
        <h6 class="margin-2px">Семестр: <u>{{ uchplgr.semestr }} {{ marks.year_start|date:"Y"}}-{{ marks.year_end|date:"Y"}} уч. год</u></h6>
        <h6 class="margin-2px">Форма контроля: зачет, экзамен (подчеркнуть)</h6>
        <h6 class="margin-2px">Дисциплина: <b>{{ uchplgr.subject.id }} {{ uchplgr.subject }}</b></h6>
        <h6 class="margin-2px">Фамилия, имя, отчество экзаменаторов______________________</h6>
        <h6 class="margin-2px">Дата проведения рубежного контроля: 1. "___"___________20__ г.</h6>
        <h6 class="margin-2px" style="margin-left: 22.25%;">2. "___"___________20__ г.</h6>
        <h6 class="margin-2px">Дата проведения семестрового контроля (экзамен, зачет) "__"____________20__ г.</h6>
        <h6 class="margin-2px">Дата офромления отчетности: "___"____________20__ г.</h6>
    </div>
    <br/>
    <div class="table-print-body row">
        <table>
            <thead>
                <tr>
                    <th style="width:5%">№</th>
                    <th style="width:30%">ФИО</th>
                    <th style="width:5%">№ ID</th>
                    <th style="width:5%">Семестровый контроль</th>
                    <th style="width:5%">Оценка</th>
                    <th style="width:5%">Подпись экзаменатора</th>
                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                {% for plan in students_m %}
                    <tr>
                        <td align="center" valign="middle">{{ forloop.counter }}</td>
                        <td valign="middle">{{ plan.student }}</td>
                        <td align="center" valign="middle">{{ plan.student.id }}</td>
                        <td align="center" valign="middle">{{ plan.ball }}</td>
                        {% if plan.get_ocenka_display == "Ничего" %}
                            <td>   </td>
                        {% else %}
                            <td align="center" valign="middle">{{ plan.get_ocenka_display }}</td>
                        {% endif %}
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-6">
            <h6 class="margin-2px">Число студентов на экзамене, зачете____________</h6>
            <h6 class="margin-2px">Из них получивших "отлично"_________</h6>
            <h6 class="margin-2px" style="margin-left: 23.59%;">"хорошо"_________</h6>
            <h6 class="margin-2px" style="margin-left: 23.59%;">"удов."_________</h6>
            <h6 class="margin-2px" style="margin-left: 23.59%;">"неудов."_________</h6>
            <h6 class="margin-2px">Число студентов не явившихся на экзамен, зачет__________</h6>
            <h6 class="margin-2px">Число студентов не допущенных к экзамену, зачету_______</h6>
        </div>
        <div class="col-xs-offset-9">
            {% if marks %}
                <h6 class="margin-2px">{{ marks.marks_satisfactorily_start }} - {{ marks.marks_satisfactorily_end}} - Удовлетворительно</h6>
                <h6 class="margin-2px">{{ marks.marks_well_start }} - {{ marks.marks_well_end}} - Хорошо</h6>
                <h6 class="margin-2px">{{ marks.marks_high_start }} - {{ marks.marks_high_end}} - Отлично</h6>
            {% endif %}
        </div>
    </div>
    <h5 class="text-center"><strong>Начальник учебного отдела _____________ {{ settings_ru.uotdel }}</strong></h5>

{% endblock %}