{% load staticfiles %}

<!-- BEGIN CORE JS FRAMEWORK-->
<script src="{% static "assets/plugins/jquery-1.8.3.min.js" type="text/javascript" %}"></script>
<script src="{% static "assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" %}" type="text/javascript"></script>
<script src="{% static "assets/plugins/bootstrap/js/bootstrap.min.js" %}" type="text/javascript"></script>
<script src="{% static "assets/plugins/breakpoints.js" type="text/javascript" %}"></script>
<script src="{% static "assets/plugins/jquery-unveil/jquery.unveil.min.js" %}" type="text/javascript"></script>
<!-- END CORE JS FRAMEWORK -->
<!-- BEGIN CORE TEMPLATE JS -->
<script src="{% static "assets/js/core.js" %}" type="text/javascript"></script>
<script src="{% static "assets/js/chat.js" %}" type="text/javascript"></script>
<script src="{% static "assets/js/demo.js" %}" type="text/javascript"></script>
<!-- END CORE TEMPLATE JS -->
