<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8" />
<title>Admin Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta content="" name="description" />
<meta content="" name="author" />
{% load staticfiles %}
<link href="{% static "assets/plugins/pace/pace-theme-flash.min.css" %}" rel="stylesheet" type="text/css" media="screen"/>

<!-- BEGIN CORE CSS AND JS FRAMEWORK -->
<link href="{% static "assets/plugins/boostrapv3/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "assets/plugins/boostrapv3/css/bootstrap-theme.min.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "assets/plugins/font-awesome/css/font-awesome.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "assets/css/animate.min.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "assets/plugins/jquery-scrollbar/jquery.scrollbar.css" %}" rel="stylesheet" type="text/css"/>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<!-- END CORE CSS AND JS FRAMEWORK -->

<!-- BEGIN CSS TEMPLATE -->
<link href="{% static "assets/css/style.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "assets/css/responsive.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "assets/css/custom-icon-set.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "assets/css/print.css" %}" rel="stylesheet" type="text/css" media="print"/>
<!-- END CSS TEMPLATE -->
