{% load staticfiles %}
<!-- BEGIN HEADER -->

<!-- BEGIN TOP NAVIGATION BAR -->
<div class="header navbar navbar-inverse ">
    <div class="navbar-inner">
        <div class="header-seperation">
            <ul class="nav pull-left notifcation-center"
                id="main-menu-toggle-wrapper"
                style="display:none">
                <li class="dropdown">
                    <a id="main-menu-toggle" href="#main-menu">
                        <div class="iconset top-menu-toggle-white"></div>
                    </a>
                </li>
            </ul>

            <!-- BEGIN LOGO -->
            <a href="#">
                <img src="{% static "assets/images/logo-b.png" %}"
                     class="logo"
                     data-src="{% static "assets/images/logo-b.png" %}"
                     width="106" height="21"/>
            </a>
            <!-- END LOGO -->

            <ul class="nav pull-right notifcation-center">
                <li class="dropdown" id="header_task_bar">
                    <a href="#" class="dropdown-toggle active" data-toggle="">
                        <div class="iconset top-home"></div>
                    </a>
                </li>
                <li class="dropdown" id="portrait-chat-toggler" style="display:none">
                    <a href="#sidr" class="chat-menu-toggle">
                        <div class="iconset top-chat-white "></div>
                    </a>
                </li>
            </ul>
        </div>

        <!-- END RESPONSIVE MENU TOGGLER -->
        <div class="header-quick-nav" >

            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="pull-left">
                <ul class="nav quick-section">
                    <li class="quicklinks">
                        <a href="#" class="" id="layout-condensed-toggle" >
                            <div class="iconset top-menu-toggle-dark"></div>
                        </a>
                    </li>
                </ul>
                <ul class="nav quick-section">
                    <li class="quicklinks">
                        <a href="#" class="" >
                            <div class="iconset top-reload"></div>
                        </a>
                    </li>
                    <li class="quicklinks">
                        <span class="h-seperate"></span>
                    </li>
                    <li class="quicklinks">
                        <a href="#" class="" >
                            <div class="iconset top-tiles"></div>
                        </a>
                    </li>
                    <li class="m-r-10 input-prepend inside search-form no-boarder">
                        <span class="add-on">
                            <span class="iconset top-search"></span>
                        </span>
                        <input name="" type="text"  class="no-boarder " placeholder="Искать..." style="width:250px;">
                    </li>
                </ul>
            </div>

            <!-- END TOP NAVIGATION MENU -->

            <!-- BEGIN CHAT TOGGLER -->

            <div class="pull-right">
                {% if user %}
                    <div class="chat-toggler">
                        <a href="#" class="dropdown-toggle"
                           id="my-task-list" data-placement="bottom"
                           data-toggle="dropdown" data-original-title="Notifications">
                            <div class="user-details">
                                <div class="username">
                                    <span class="bold">{{ user.username }}</span>
                                </div>
                            </div>
                            <div class="iconset top-down-arrow"></div>
                        </a>
                        <div class="profile-pic">
                            <img src="{% static "assets/images/profiles/avatar_small.jpg" %}"
                                 data-src="{% static "assets/images/profiles/avatar_small.jpg" %}"
                                 width="35" height="35" />
                        </div>
                    </div>
                    <ul class="nav quick-section ">
                        <li class="quicklinks">
                            <a data-toggle="dropdown" class="dropdown-toggle  pull-right " href="#" id="user-options">
                                <div class="iconset top-settings-dark "></div>
                            </a>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="user-options">
                                <li>
                                    <a href=""> Моя страничка</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-power-off"></i>&nbsp;&nbsp;Выход
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="quicklinks">
                            <span class="h-seperate"></span>
                        </li>
                        <li class="quicklinks">
                            <a id="chat-menu-toggle" href="#sidr" class="chat-menu-toggle" >
                                <div class="iconset top-chat-dark ">
                                    <span class="badge badge-important hide" id="chat-message-count">1</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                {% endif %}
            </div>
            <!-- END CHAT TOGGLER -->
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
</div>
<!-- END TOP NAVIGATION BAR -->
<!-- END HEADER -->


{#                {% if request.user.is_authenticated %}#}
{#                    <li class="light-blue dropdown-modal">#}
{#                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">#}
{#                            <img class="nav-user-photo" src="{% static  "assets/images/avatars/user.jpg" %}" alt="Jason's Photo" />#}
{#                            <span class="user-info">#}
{#                                <small>Welcome,</small>#}
{#                                {{ user.username }}#}
{#                            </span>#}
{##}
{#                            <i class="ace-icon fa fa-caret-down"></i>#}
{#                        </a>#}
{##}
{#                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">#}
{#                            <li>#}
{#                                <a href="#">#}
{#                                    <i class="ace-icon fa fa-cog"></i>#}
{#                                    Settings#}
{#                                </a>#}
{#                            </li>#}
{##}
{#                            <li>#}
{#                                <a href="profile.html">#}
{#                                    <i class="ace-icon fa fa-user"></i>#}
{#                                    Profile#}
{#                                </a>#}
{#                            </li>#}
{##}
{#                            <li class="divider"></li>#}
{##}
{#                            <li>#}
{#                                <a href="#">#}
{#                                    <i class="ace-icon fa fa-power-off"></i>#}
{#                                    Logout#}
{#                                </a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}
{#                {% else %}#}
{#                    <li class="light-blue dropdown-modal">#}
{#                        <a target="_blank" href="/login">#}
{#                            <span class="user-info">#}
{#                                <small>Login</small>#}
{#                            </span>#}
{#                        </a>#}
{#                    </li>#}
{#                {% endif %}#}
