<!-- Pagination Start -->
    {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pager">

                {% if page_obj.has_previous %}
                    <li>
                        <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&larr; </span>Предыдущий
                        </a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <span aria-hidden="true">&larr; Предыдущий</span>
                    </li>
                {% endif %}

                {% if page_obj.has_next %}
                    <li>
                        <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            Следующий <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <span aria-hidden="true">Следующий &rarr;</span>
                    </li>
                {% endif %}

            </ul>
        </nav>
    {% endif %}
<!-- Pagination END -->