{% load staticfiles %}
<!-- BEGIN SIDEBAR -->
<div class="page-sidebar" id="main-menu">
    <!-- BEGIN MINI-PROFILE -->
    <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
        <div class="user-info-wrapper">
            <div class="profile-wrapper">
                <img class="img-responsive center-block" src="{% static "assets/images/profiles/avatar.jpg" %}"  alt="" data-src="{% static "assets/images/profiles/avatar.jpg" %}" width="69" height="69" />
            </div>
            {% if user %}
                <div class="user-info">
                    <div class="greeting"></div>
                    <div class="username">{{ user.first_name }} <br>
                        <span class="semi-bold">{{ user.last_name }}</span>
                    </div>
                    <div class="status">Статус
                        <a href="#">
                            <div class="status-icon green"></div>В сети
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    <!-- END MINI-PROFILE -->

        <!-- BEGIN SIDEBAR MENU -->
        <p class="menu-title">BROWSE
            <span class="pull-right">
                <a href="#">
                    <i class="fa fa-refresh"></i>
                </a>
            </span>
        </p>
        <ul class="noprint">
            <li>
                <a href="#">
                    <i class="icon-custom-thumb"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-custom-home"></i>
                    <span class="title">Основные</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="/university">
                            <span class="title">Университет</span>
                        </a>
                    </li>
                    <li>
                        <a href="/departments">
                            <span class="title">Департаменты</span>
                        </a>
                    </li>
                    <li>
                        <a href="/groups">
                            <span class="title">Группы</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="title">Основные настройки</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="icon-custom-portlets"></i>
                    <span class="title">Учебный отдел</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="/students">Студенты</a>
                    </li>
                    <li>
                        <a href="/uchplans/groups">Учебные планы групп</a>
                    </li>
                    <li>
                        <a href="/uchplans/students">Учебные планы студентов</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="icon-custom-portlets"></i>
                    <span class="title">Абитуриенты</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="/abitur">Абитуриенты</a>
                    </li>
                    <li>
                        <a href="/abitur/inner">Абитуриенты(Внутренние)</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-folder-open"></i>
                    <span class="title">Отдел кадров</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="/cv/staff/">Все сотрудники</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="icon-custom-map"></i>
                    <span class="title">Междун. отдел</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="#">Стажировки сотрудников</a>
                    </li>
                    <li>
                        <a href="#">Стажировки студентов</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="clearfix"></div>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<a href="#" class="scrollup">Scroll</a>
<!-- END SIDEBAR -->
