{% extends "base.html" %}
{% block content %}
<div class="grid simple ">
    <div class="grid-title">
        <h4>
            <span class="semi-bold">Список департаментов</span>
        </h4>
    </div>
    <div class="grid-body " style="overflow: hidden; display: block;">
        <div id="example_wrapper" class="dataTables_wrapper form-inline" role="grid">
            <table class="table table-hover table-condensed dataTable">
                <thead>
                    <tr role="row">
                        <th style="width:10%">ID</th>
                        <th style="width:20%">Департамент</th>
                        <th style="width:20%">Руководитель</th>
                        <th style="width:20%">Ассистент</th>
                        <th style="width:15%">E-Mail</th>
                        <th style="width:15%">Телефон</th>
                    </tr>
                </thead>

                <tbody role="alert" aria-live="polite" aria-relevant="all">
                    {% for department in department_list %}
                        <tr>
                            <td>{{ department.id }}</td>
                            <td>{{ department.name }}</td>
                            <td>{{ department.header }}</td>
                            <td>{{ department.assistant }}</td>
                            <td>{{ department.email }}</td>
                            <td>{{ department.phone }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}