{% extends "base.html" %}
{% block content %}

    <div class="grid simple ">
        <div class="grid-title">
            <h4>
                <span class="semi-bold">Список групп</span>
            </h4>
        </div>
        <div class="grid-body " style="overflow: hidden; display: block;">
            <div id="example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <table class="table table-hover table-condensed dataTable">
                    <thead>
                        <tr role="row">
                            <th style="width:10%">ID</th>
                            <th style="width:20%">Код гр.</th>
                            <th style="width:20%">Имя</th>
                            <th style="width:20%">Семестр</th>
                            <th style="width:15%">Куратор</th>
                            <th style="width:15%">Форма. обуч.</th>
                            <th style="width:15%">Департамент</th>
                        </tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        {% for group in group_list %}
                            <tr>
                                <td>{{ group.id }}</td>
                                <td>{{ group.code }}</td>
                                <td>{{ group.name }}</td>
                                <td>{{ group.semestr }}</td>
                                <td>{{ group.curator }}</td>
                                <td>{{ group.learningform }}</td>
                                <td>{{ group.department }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% include "partials/pagination.html" %}
{% endblock %}