{% extends 'base.html' %}
{% block content %}
<div class="page-title">
   <i class="fa fa-tasks"></i>
      <h3>Учебная работа.
          <span class="semi-bold">I семестр</span>
      </h3>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-form color-black table-plan">
                <thead>
                    <tr>
                        <td ROWSPAN=3>
                            <p>№</p>
                        </td>
                        <td ROWSPAN=3>
                            <span>Наименование учебной дисциплины</span>
                        </td>
                        <td ROWSPAN=3>
                            <span class="vertical">Курс</span>
                        </td>
                        <td ROWSPAN=3>
                            <span class="vertical">Группа</span>
                        </td>
                        <td ROWSPAN=3>
                            <span class="vertical">Количество студентов</span>
                        </td>
                        <td COLSPAN=21>
                            <p class="text-center">ВИДЫ РАБОТ:</p>
                        </td>
                    </tr>
                    <tr>
                        <td ROWSPAN=2>
                            <span class="vertical">Лекции</span>
                        </td>
                        <td ROWSPAN=2>
                            <span class="vertical">Практические и семинарские занятия</span>
                        </td>
                        <td COLSPAN=2>
                            <p>Курсовые работы</p>
                        </td>
                        <td COLSPAN=2>
                            <p>Консультации</p>
                        </td>
                        <td ROWSPAN=2>
                            <span class="vertical">Проверка контрольных работ, РЗ, рефератов</span>
                        </td>
                        <td COLSPAN=3>
                            <p>Руководство практикой</p>
                        </td>
                        <td ROWSPAN=2>
                            <span class="vertical">На зачет</span>
                        </td>
                        <td ROWSPAN=2>
                            <span class="vertical">На экзамен</span>
                        </td>
                        <td COLSPAN=4>
                            <p>Выпускная квалификационная работа (магистерская диссертация)</p>
                        </td>
                        <td COLSPAN=5>
                            <p>Другие формы работ</p>
                        </td>
                    </tr>
                    <tr>
                        <td WIDTH=24>
                            <span class="vertical">По учебному плану</span>
                        </td>
                        <td WIDTH=24>
                            <span class="vertical">Руководство</span>
                        </td>
                        <td WIDTH=34>
                            <span class="vertical">Групповых</span>
                        </td>
                        <td WIDTH=34>
                            <span class="vertical">индивидуальных</span>
                        </td>
                        <td WIDTH=22>
                            <span class="vertical">Учебной</span>
                        </td>
                        <td WIDTH=22>
                            <span class="vertical">Производственной</span>
                        </td>
                        <td WIDTH=22>
                            <span class="vertical">Преддипломной</span>
                        </td>
                        <td WIDTH=16>
                            <span class="vertical">Руководство ВКР</span>
                        </td>
                        <td WIDTH=20>
                            <span class="vertical">Консультации раздела</span>
                        </td>
                        <td WIDTH=18>
                            <span class="vertical">Рецензирование</span>
                        </td>
                        <td WIDTH=18>
                            <span class="vertical">Участие в ГЭК</span>
                        </td>
                        <td WIDTH=18>
                            <span class="vertical">Текущие консультации</span>
                        </td>
                        <td WIDTH=18>
                            <span class="vertical">УИР</span>
                        </td>
                        <td WIDTH=18>
                            <span class="vertical">СРС</span>
                        </td>
                        <td WIDTH=18>
                            <p></p>
                        </td>
                        <td WIDTH=18>
                            <p></p>
                        </td>
                    </tr>
                    <tr>
                        <td COLSPAN=26>
                            <p class="text-center">ЗАПЛАНИРОВАНО:</p>
                        </td>
                    </tr>
                </thead>

                <tbody id="plan">
                    <tr VALIGN=TOp>
                        <td WIDTH=27 HEIGHT=3>
                            <p>1</p>
                        </td>
                        <td WIDTH=144>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=42>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=24>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=24>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=34>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=34>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=16>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=20>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                    </tr>
                    <tr VALIGN=Top>
                        <td COLSPAN=2 WIDTH=185 HEIGHT=21>
                            <p>ВСЕГО за семестр запланировано</p>
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=42>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=24>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=24>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=34>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=34>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=16>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=20>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                    </tr>
                </tbody>
                <tr>
                    <td COLSPAN=26>
                        <p class="text-center">ФАКТИЧЕСКИ ВЫПОЛНЕНО:</p>
                    </td>
                </tr>
                <tbody id="fact">
                    <tr VALIGN=TOp>
                        <td WIDTH=27 HEIGHT=3>
                            <p>1</p>
                        </td>
                        <td WIDTH=144>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=42>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=24>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=24>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=34>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=34>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=16>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=20>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                    </tr>
                    <tr VALIGN=Top>
                        <td COLSPAN=2 WIDTH=185 HEIGHT=21>
                            <p>ВСЕГО за семестр выполнено</p>
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=42>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=24>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=24>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=34>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=34>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=22>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=16>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=20>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                        <td WIDTH=18>
                            <input type="text" class="form-control">
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
{% endblock %}