@page {
    size: A4 !important;
    margin: 0 !important;
}

@media all {
    .page-break { display: none; }
}

@media print {
	html, body {
		width: 210mm;
		height: 272mm;
	}

	.page-break {
		display: block;
		page-break-after: always;
	}

	.noprint {
		display: none;
	}

	.forprint {
		display: block;
	}

	.content {
		width: 210mm !important;
		min-height: 287mm !important;
		padding: 0 13mm !important;
		margin: 15mm auto 0 auto !important;
		border: 2px solid transparent;
	}

	.content-second {
		min-height: 282mm !important;
		padding: 15mm 13mm 0mm 13mm !important;
		margin: 15mm auto !important;
	}

	.header.
	.pace,
	.page-sidebar,
	.scrollup,
	.logo {
		display: none !important;
	}

	.grid-title {
		border: 1px solid transparent !important;
	}

	.grid-body {
		border: 1px solid transparent !important;
	}

	.grid-title .col-md-3,
	.grid-title .col-md-6 {
		float: left;
		text-align: center;
	}

	.grid-title .col-md-3 {
		width: 25%;
	}

	.grid-title .col-md-6 {
		width: 50%;
	}

	h1 {
		font-size: 24pt;
	}

	h2, h3, h4 {
		font-size: 20pt;
	}

	h3 {
		font-size: 18pt;
	}

	h4 {
		font-size: 16pt;
	}

	hr {
		color: #000000 !important;
	}

	table {
		page-break-inside: auto;
		font-size: 9px !important;
	}

	th {
		font-size: 8;
	}

	tr {
		page-break-inside: avoid;
		page-break-after: auto;
	}

	.col-sm-offset-1{
		margin-left: 8.33333333%;
	}
	.col-sm-offset-2{
		margin-left: 16.66666667%;
	}

	.table-small-letters {
		font-size: 7pt;
	}
	.vedom-print li {
		line-height: 9px;
	}

}