{% extends "base.html" %}
{% block content  %}
    <div class="row">
        <div class="col-xs-8">
            {% if settings_ru %}
                <h5 class="text-left"><b> {{ settings_ru.longname }} </b></h5>
            {% endif %}
        </div>
        <div class="col-xs-4">
            <h5 class="text-right">{% now "d.m.Y" %}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h5 class="text-center"><b>Учебный план {{ student }} ({{ student.id }})</b></h5>
        </div>
    </div>
    <div class="row">
        <h6>Программа: <b>{{ groups.department }}</b></h6>
        <h6>Направление: <b>{{ groups.name }}</b></h6>
        <h6>Группа: <b>{{ student.group_code }}</b></h6>
        <h6>Курс: <b>____</b>  Семестр: <b><u>{{ student.semestr }}</u></h6>
    </div>
    <div class="row table-print-body">
        <table>
            <thead>
                <tr role="row">
                    <th style="width:5%" >№</th>
                    <th style="width:5%">Код дисциплины</th>
                    <th style="width:35%">Наименование дисциплины и учебных практик</th>
                    <th style="width:5%">Количество часов</th>
                    <th style="width:5%">Кредиты</th>
                    <th style="width:5%">Баллы</th>
                    <th style="width:10%">Оценка</th>
                    <th style="width:10%">№ ведомости</th>
                    <th style="width:10%">Дата сдачи</th>
                </tr>
            </thead>
            <tbody>
            {% for plan in uchplans %}
                <tr>
                    <td align="center" valign="middle">{{ forloop.counter }}</td>
                    <td align="center" valign="middle">{{ plan.disc_code.id }}</td>
                    <td valign="middle">{{ plan.disc_code }}</td>
                    <td align="center" valign="middle">{{ plan.clock }}</td>
                    <td align="center" valign="middle">{{ plan.credit }}</td>
                    <td align="center" valign="middle">{{ plan.ball }}</td>
                    {% if plan.get_ocenka_display == "Ничего" %}
                        <td>   </td>
                    {% else %}
                        <td align="center" valign="middle">{{ plan.get_ocenka_display }}</td>
                    {% endif %}
                    <td align="center" valign="middle">{{ plan.number_of_vedomost }}</td>
                    <td align="center" valign="middle">{{ plan.edited | date:"d-m-Y" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h6 class="text-left">
                <b>Приказ №____ от "__"__________20__г.</b>
            </h6>
        </div>
        <div class="col-xs-6">
            <h6 class="text-right">
                <b>Начальник учебного отдела __________ {{ settings_ru.uotdel }}</b>
            </h6>
        </div>
    </div>
{% endblock %}
