{% extends "base.html" %}
{% block content  %}
    <div>
        <div class="col-xs-3">
{#            {% if settings %}#}
{#                <h5 class="text-left"> {{ settings.shortname }}  </h5>#}
{#            {% endif %}#}
        </div>
    </div>
    <div>
        <div class="col-xs-6">
{#            <span><b>Программа:  </b>{{ group.department }}</span></br>#}
{#            <span><b>Направление:  </b>{{ group.name }}</span>#}
        </div>
        <div class="col-xs-6">
        </div>
    </div>
    <div class="white-background">

    </div>
{% endblock %}
