{% extends "base.html" %}
{% block content %}

    <div class="col-md-7">
        <div class="grid simple">
            <div class="grid-title no-border"></div>
            <div class="grid-body no-border">
                <table class="table table-bordered no-more-tables">
                    <thead>
                    <tr>
                        <th class="text-center" style="width:30%">Национальности</th>
                        <th class="text-center" style="width:30%">Количество</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in by_nations %}
                        <tr>
                            <td class="text-center">{{ item.nationality_id__name }}</td>
                            <td class="text-center">{{ item.dcound }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="grid simple">
            <div class="grid-body">
                <div id="by-dep-chart"></div>
            </div>
        </div>
    </div>

    <script type="application/javascript">
        Highcharts.chart('by-dep-chart', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Студенты по национальности'
            },
            tooltip: {
                pointFormat: '{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Национальности',
                colorByPoint: true,

                data: [
                    {% for item in by_nations %}
                        {
                            name: '{{ item.nationality_id__name }}',
                            y: {{ item.dcound }} / {{ by_nations_count }}*100
                        },
                    {% endfor %}
                ]
            }],
            credits: {
                enabled: false
            }
        });
    </script>

{% endblock %}