{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
	<div>
		<div class="col-xs-3">
			<img class="center-block" src="{{ STATIC_URL }}assets/images/logo.jpg" width="128" height="180">
			<h5 class="text-center"><b>{% now "d M Y" %} г.</b></h5>
			<h5 class="text-center"><b>№_____________</b></h5>			
		</div>
		<div class="col-xs-9">
			{% if settings_kg %}
			{% if group %}
			<h6 class="text-left"><b>{{ settings_kg.longname }} | {{ group.institution.name_kg}}</b></h6>
			{% endif %}
			{% endif %}
			{% if settings_ru %}
			{% if group %}
			<h6 class="text-left"><b>{{ settings_ru.longname }} | {{ group.institution.name_ru }}</b></h6>
			{% endif %}
			{% endif %}
			{% if settings_en %}
			{% if group %}
			<h6 class="text-left"><b>{{ settings_en.longname }} | {{ group.institution.name_en }}</b></h6>
			{% endif %}
			{% endif %}
			<hr class="forprint">
			<h6 class="text-left">{{ settings_kg.address }}</h6>
			<h6 class="text-left">{{ settings_ru.address }}</h6>
			<h6 class="text-left">{{ settings_en.address }}</h6>
			<div>
			<div class="col-xs-6">
				<h6 class="text-left"> Tel: {{ settings_kg.phone }}</h6>
				<h6 class="text-left"> Fax: {{ settings_kg.fax}}</h6>
			</div>
			<div class="col-xs-6">
				<h6 class="text-left"> E-mail: {{ settings_kg.email }}</h6>
				<h6 class="text-left"> Website: {{ settings_kg.www}}</h6>
			</div>
		</div>
	</div>
	<div>
		<div class="col-xs-12">
			<h3 class="text-center"><b>Справка</b></h3>
		</div>
		<div class="col-xs-12">
			<p>    Дана в том, что <b>{{ student.first_name }} {{ student.name }} {{ student.last_name }}</b> действительно является {% if student.sex == 0 %} студентом {% else %} студенткой {% endif %} {{ student.semestr }} семестра {{ student.course }} курса группы {{ student.group_code }} ({{ student.learning_form }}) специальность / направления {% if group %} {{ group.name }}{% endif %}.</p>
			<p>Справка дана по месту требования. Обучение контрактное. Стипендию не получает.</p>
		</div>
		<div>
			<div class="col-xs-6">
				<h6 class="text-left"><b> Ректор, {{ settings_ru.rector_regalies }}</b></h6>
			</div>
			<div class="col-xs-6">
				<h6 class="text-right"><b>{{ settings_ru.rector }}</b></h6>
			</div>
		</div>
	</div>
</div>

{% endblock %}
