{% extends "base.html" %}
{% block content  %}

    <div class="row">
        <div class="col-xs-3">
            {% if settings %}
                <h5 class="text-left"><strong>{{ settings.longname }}</strong></h5>
            {% endif %}
        </div>
        <div class="col-xs-6">
            <h4 class="text-center">
                {% if group %}
                    <strong>
                        Список группы - {{ group.code }}
                    </strong>
                {% endif  %}
            </h4>
        </div>
        <div class="col-xs-3">
            <h5 class="text-right"> {% now "d.m.Y" %}  </h5>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <h5 class="text-left"><b>Программа:  </b>{{ group.department }}</h5>
            <h5 class="text-left"><b>Направление:  </b>{{ group.name }}</h5>
        </div>
    </div>
    <br>
    <div class="row table-print-body">
        <table width="100%">
            <thead>
                <tr>
                    <th style="width:10%">ID</th>
                    <th style="width:50%">Фамилия Имя Отчество</th>
                    <th style="width:15%">Дата рожд.</th>
                    <th style="width:12%">Пол</th>
                    <th style="width:20%">Примечания</th>
                </tr>
            </thead>
            <tbody>
                {% for student in student_list%}
                    <tr>
                        <td align="center" valign="middle">{{ student.id }}</td>
                        <td valign="middle">{{ student.first_name }} {{ student.name}} {{ student.last_name }}</td>
                        <td align="center" valign="middle">{{ student.birthday | date:"d-m-Y" }}</td>
                        <td align="center" valign="middle">{{ student.get_sex_display }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
