{% extends "base.html" %}
{% block content  %}

    <div class="row">
        <div class="col-xs-6"><h5 class="text-left"><b>{{ settings_ru.longname }}</b></h5></div>
        <div class="col-xs-6"><h5>{% now "d.m.Y" %}</h5></div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-11">
            <h5 class="text-left"><u><b>{{ group.code }}</b></u></h5>
            <h5 class="text-left"><u><b>{{ group.name }} ({{ group.learningform }})</b></u></h5>
        </div>
    </div>
    <br>
    <div class="row table-print-body">
        <table>
            <thead>
                <tr>
                    <th style="width:5%">№</th>
                    <th style="width:5%">Национальность и год рождения</th>
                    <th style="width:40%">ФИО студента</th>
                    <th style="width:5%">№ приказа о зачислении</th>
                    <th style="width:5%">Движение студентов</th>
                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                {% for student in student_list %}
                    <tr>
                        <td align="center" valign="middle" rowspan="2">{{ forloop.counter }}</td>
                        <td align="center" valign="middle">{{ student.nationality }}</td>
                        <td valign="middle" rowspan="2" style="text-margin: 2%"> {{ student.first_name }} {{ student.name }} {{ student.last_name }}</td>
                        <td align="center" valign="middle">
                            {% for p in prikaz %}
                                {% if p.student.id == student.id %}
                                    {{ p.date | date:"d.m.Y" }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td align="center" valign="middle" rowspan="2"></td>
                    </tr>
                    <tr>
                        <td align="center" valign="middle">{{ student.birthday | date:"d.m.Y" }}</td>
                        <td align="center" valign="middle">
                            {% for p in prikaz %}
                                {% if p.student.id == student.id %}
                                    {{ p.number }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>

{% endblock %}
