{% extends "base.html" %}
{% block content  %}

    <div class="row">
        <h4 class="text-center">
            <strong>{{ settings.longname }}</strong>
        </h4>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <h6 class="text-left">Программа:</h6>
            <h6 class="text-left">Специальность/Направление:</h6>
            <h6 class="text-left">Группа:</h6>
        </div>
        <div class="col-xs-9">
            <h6 class="text-left"><strong>{{ student.group_code.department }}</strong></h6>
            <h6 class="text-left"><strong>{{ student.group_code.name }}</strong></h6>
            <h6 class="text-left"><strong>{{ student.group_code }}</strong></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <h4 class="text-center">
                <b>Учебная карточка студента</b>
            </h4>
            <h5 class="text-center">
                <strong>{{ student.group_code.learningform }}</strong>
            </h5>
        </div>
        <div class="col-xs-3">
            <h5 class="text-right">
                <strong><u>ID студ. {{ student.id }}</u></strong>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <h6 class="text-left">Фамилия, Имя, Отчество:</h6>
            <h6 class="text-left">Дата рождения:</h6>
            <h6 class="text-left">Место рождения:</h6>
            <h6 class="text-left">Национальность:</h6>
            <h6 class="text-left">Социальное положение:</h6>
            <h6 class="text-left">Что окончила(а):</h6>
            <h6 class="text-left">Год окончания: </h6>
            <h6 class="text-left">Адрес местожительства</h6>
            <h6 class="text-left">Телефон:</h6>
            <h6 class="text-left">Зачислен(а) приказом в ВУЗ, </h6>
            <h6 class="text-left">На условиях:</h6>
        </div>
        <div class="col-xs-9">
            <h6 class="text-left">
                <strong>{{ student }}</strong>
            </h6>
            <h6 class="text-left">
                <strong>{{ student.birthday }}</strong>
            </h6>
            <h6 class="text-left">
            {% if birthplace %}
                {% for b in birthplace %}
                    <strong>{{ b.country }}, {{ b.region }}</strong>
                {% endfor %}
            {% else %}
                <strong>Данные не указаны</strong>
            {% endif %}
            </h6>
            <h6 class="text-left">
                <strong>{{ student.nationality }}</strong>
            </h6>
            <h6 class="text-left">
                <strong>{{ student.get_maritial_status_display }}</strong>
            </h6>
            <h6 class="text-left">
                {% if attestat %}
                    {% for att in attestat %}
                        {% if att.region.name == att.city.name %}
                            <strong>
                                {{ att.school }}
                                {{ att.district.name }},
                                {{ att.city.name }},
                                {{ att.country.name }}
                            </strong>
                        {% else %}
                            <strong>
                                {{ att.school }}
                                {{ att.city.name }},
                                {{ att.district.name }},
                                {{ att.region.name }},
                                {{ att.country.name }}
                            </strong>
                        {% endif %}
                    {% endfor %}
                {% elif diploma%}
                    {% for dip in diploma %}
                        <strong>
                            {{ dip.university }}
                        </strong>
                    {% endfor %}
                {% endif %}
            </h6>
            <h6 class="text-left">
                {% if attestat %}
                    {% for att in attestat %}
                        <strong>
                            {{ att.date }}
                        </strong>
                    {% endfor %}
                {% elif diploma%}
                    {% for dip in diploma %}
                        <strong>
                            {{ dip.date }}
                    {% endfor %}
                {% endif %}
            </h6>
            <h6 class="text-left">
            {% if address %}
                {% for adrs in address %}
                    <strong>
                        {{ adrs.address }},
                        {% if adrs.region.name == adrs.city.name %}
                            {{ adrs.district.name }},
                            {{ adrs.city.name }},
                        {% else %}
                            {{ adrs.city.name }},
                            {{ adrs.district.name }},
                            {{ adrs.region.name }},
                        {% endif %}
                        {{ adrs.country.name }}
                    </strong>
                {% endfor %}
            {% else %}
                Нет текущего адреса
            {% endif %}
            </h6>
            <h6 class="text-left">
                <strong>{{ student.phone }}</strong>
            </h6>
            <h6 class="text-left">
                {% for pr in prikaz %}
                    {% if forloop.first %}
                        <strong>приказ {{ pr.number }} от {{ pr.date }}{{ pr.enrollment.name }}</strong>
                    {% endif %}
                {% endfor %}
            </h6>
            <h6 class="text-left">
                <strong>{{ student.enrollment }}</strong>
            </h6>
        </div>
    </div>
    <div class="table-print-body row">
        <h6 class="text-center">
            <strong>
                Поощрения, взыскания, перерывы в академичиской учебе, переводы с курса на курс:
            </strong>
        </h6>
        <table width="100%">
            <thead>
                <tr>
                    <th width="10%">Курс</th>
                    <th width="45%">№ и дата приказа</th>
                    <th width="45%"> Содержание приказа</th>
                </tr>
            </thead>
            <tbody>
            {% for pri in prikaz %}
                <tr>
                    <td align="center" valign="middle"></td>
                    <td align="center" valign="middle">{{ pri.number }} от {{ pri.date }}</td>
                    <td align="center" valign="middle">{{ pri.name }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
            </tr>
            <tr>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
            </tr>
            <tr>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
                <td align="center" valign="middle">&nbsp;</td>
            </tr>

            </tbody>
        </table>
    </div>
    <br>

{% endblock %}