{% extends "base.html" %}
{% block content %}
<div class="grid simple ">
    <div class="grid-title">
        <h4>
            <span class="semi-bold">Список абитуриентов(Внутренние)</span>
        </h4>
    </div>
    <div class="grid-body " style="overflow: hidden; display: block;">
        <table id="datatable" class="table table-hover table-condensed">
            <thead>
                <tr role="row">
                    <th style="width:10%">№</th>
                    <th style="width:10%">ID</th>
                    <th style="width:20%">Фамилия</th>
                    <th style="width:20%">Имя</th>
                    <th style="width:20%">отчество</th>
                </tr>
            </thead>
            <tbody>
                {% for abiturient in abiturient_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="/abitur/inner/{{abiturient.id}}">{{ abiturient.regnumber }}</a></td>
                        <td>{{ abiturient.lastname }}</td>
                        <td>{{ abiturient.name }}</td>
                        <td>{{ abiturient.middlename }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "partials/pagination.html" %}
    </div>
</div>
    <script type="text/javascript">
{#        var myData = [];#}
{#        {% for item in items %}#}
{#                myData.push([#}
{#                    '{{ item.date|date:"Y-m-d H:m" }}',#}
{#                    '{{ item.value }}'#}
{#                ]);#}
{#        {% endfor %}#}
{#        var myTable = $('#datatable').DataTable({#}
{#            order: [[0, "asc"]],#}
{#            pageLength: 25,#}
{#            responsive: true,#}
{#            columns: [#}
{#                {sTitle: "Date", sWidth: "100px"},#}
{#                {sTitle: "value", sWidth: "50px"}#}
{#            ],#}
{#            data: myData#}
{#        });#}
{#    $(document).ready(function() {#}
{#    $('#datatable').DataTable( {#}
{#        "processing": true,#}
{#        "serverSide": true,#}
{#        "ajax": {#}
{#            "url": "/api/abiturinets/?format=json",#}
{#            "dataType": "jsonp"#}
{#        }#}
{#    } );#}
{#} );#}
    </script>
{% endblock %}

