{% extends "base.html" %}
{% load staticfiles %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static "assets/plugins/DataTables/DataTables-1.10.16/css/jquery.dataTables.css" %}"/>
{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span-12">
        <div class="grid simple">
            <div class="grid-title">
                <h4>
                    <span class="semi-bold">Список абитуриентов</span>
                </h4>
            </div>
            <div class="grid-body" style="overflow: hidden; display: block;">
                <table id="abiturient" class="table responsive table-striped dataTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Рег. номер</th>
                            <th>Фамилия</th>
                            <th>Имя</th>
                            <th>Отчество</th>
                            <th>Балл</th>
                            <th>Тур</th>
                            <th>Экзамен</th>
                            <th>Год</th>
                            <th>Департамен</th>
                            <th>Форма обучения</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>
{% endblock %}
{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "assets/plugins/DataTables/DataTables-1.10.16/js/jquery.dataTables.js" %}"></script>
<script type="text/javascript" src="{% static "assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/plugins/jquery-block-ui/jqueryblockui.js"%}"></script>
<script type="text/javascript" src="{% static "assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js"%}"></script>
<script type="text/javascript" src="{% static "assets/plugins/bootstrap-select2/select2.min.js"%}"></script>
<script type="text/javascript" src="{% static "assets/plugins/jquery-datatable/js/jquery.dataTables.min.js"%}"></script>
<script type="text/javascript" src="{% static "assets/plugins/jquery-datatable/extra/js/dataTables.tableTools.min.js"%}"></script>
<script type="text/javascript" src="{% static "assets/plugins/datatables-responsive/js/datatables.responsive.js"%}"></script>
<script type="text/javascript" src="{% static "assets/plugins/datatables-responsive/js/lodash.min.js"%}"></script>

<script>
$('#abiturient').dataTable({
    responsive: true,
    select: true,
    buttons: [
        'pdf',
    ],
    ajax: {
        url: '/api/abiturinets/?format=json',
        dataSrc: ''
    },
    aoColumns: [
        { "data": "id"},
        { "data": "regnumber"},
        { "data": "lastname"},
        { "data": "name"},
        { "data": "middlename"},
        { "data": "point"},
        { "data": "tour"},
        {
            "mData": function (data, type, dataToSet) {
                if(data.exam){
                    return "<i class='fa fa-plus-square-o'></i>";
                }else{
                    return "<i class='fa fa-minus-square-o'></i>";
                }

            }
        },
        { "data": "year"},
        { "data": "department"},
        { "data": "learningform"},
{#        {#}
{#            data: null,#}
{#            className: "center",#}
{#            defaultContent: 'your html code'#}
{#        }#}
    ],
    "columnDefs": [
        {
            "className": "dt-center", "targets": "_all"
        }
      ],
    language :{
        "url": "{% static "assets/plugins/DataTables/DataTables-1.10.16/lang/russian.json" %}"
    }
});
</script>
{% endblock %}

