{%  extends "base.html" %}
{% block content %}
	<div>
		<div class="col-xs-6">
			<ol>
				<li>Экзаменационный лист служит пропуском на экзамне</li>
				<li>По окончании вступительных экзаменов экзаменационный лист должен быть возвращен в приемную комиссию.</li>
				<li>При получении неудовлетворительной оценки экзаменационный лист остается у экзаменатора</li>
				<li>Не зачисленные в учебное заведение получат обратно свои документы в приемной комиссии после сдачи экзаменационного листа</li>
				<li>Опоздавшие и не явившиеся в срок допускаются с разрешения ответственного секретаря приемной комиссии</li>
			</ol>
		</div>
		<div class="col-xs-6">
			<div class="">
				<div class="col-xs-6">
					<img alt="Abiturient Image" />
				</div>
				<div class="col-xs-6">
					<h6 class="right"><u>Форма №4</u></h6>
					<h5 class="center">Университет Адам</h5>
					<h6 class="right">{{abiturient.learningform}}</h6>
				</div>
			</div>
			<h4><b> Экзаменационный лист № {{ abiturient.regnumber }} </b></h4>
                        <ul>
                           <li>Специальность: {{ abiturient.department }}</li>
                           <li>Фамилия:       {{ abiturient.lastname }}</li>
                           <li>Имя:           {{ abiturient.name }}</li>
                           <li>Отчество:      {{ abiturient.middlename }}</li>
                        </ul>
                        <p>Дата выдачи:"___"__________{% now "Y" %}</p>
                        <p>Ответственный секретарь приемной комиссии _________</p>
		</div>
	</div>
</div>

<div class="content-second">
	<div>
		<div class="col-xs-12">
			<h4><b>I. Оценки, полученные на вступительных экзаменах </b></h4>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>№</th>
						<th>Наименование дисциплины</th>
						<th>Характер экзамена</th>
						<th>Дата</th>
						<th>Оценка(баллы)</th>
						<th>ФИО экзаменатора</th>
						<th>Подпись экзаменатора</th>
					</tr>
				</thead>
				<tbody>
                    {%if exam_list %}
                        {% for exam in exam_list %}
                            <tr>
                                <td> {{ forloop.counter }} </td>
                                <td> {{ exam.subject}} </td>
                                <td> {{ exam.get_exam_type_display}} </td>
                                <td>  </td>
                                <td> {{ exam.point}} </td>
                                <td> {{ exam.teacher }} </td>
                                <td>  </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
				</tbody>
			</table>
            <h6><b>II. Сумма баллов, полученных на вступительных экзаменах _____ </b></h6>
            <p class="right">Ответственный секретарь приемной комиссии ___________(Подпись)</p>
		</div>
    </div>
    </div>
    <div>

{% endblock %}
