{% load widget_tweaks %}

{% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
{% endfor %}

{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
    </div>
{% endif %}

{% for field in form.visible_fields %}
    <div class="form-group">
{#    {% if item.field.widget.input_type != "text" %}#}
{#    {% else %}#}
{#        <label class="form-label" for="{{ field.name }}">{{ field.label }}</label>#}
{#        <label class="form-label" for="{{ field.name }}">{{ field.field.widget.input_type }}</label>#}
{#    {% endif %}#}

        {% if form.is_bound %}
            {% if field.errors %}
                {% render_field field class="form-control is-invalid"%}
                {% for error in field.errors %}
                    <span class="help-block">
                        {{ error }}
                    </span>
                {% endfor %}
            {% else %}
                {% render_field field class="form-control is-valid"%}
            {% endif %}
        {% else %}
            {% render_field field class="form-control" placeholder=field.label%}
        {% endif %}

        {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
    </div>
{% endfor %}