{% load staticfiles %}
<!DOCTYPE html>
<html>

<!-- BEGIN HEAD -->
<head>
{% include "partials/head.html" %}
{% block styles %}{% endblock %}
</head>
<!-- END HEAD -->

<body>
{% include "partials/nav_bar.html" %}
    <div class="page-container row-fluid">
        {% include "partials/side_bar.html"  %}
        <div class="page-content">
            <div class="clearfix"></div>
            <div class="content">
                {% block content %}
                    Empty page
                {% endblock content %}
            </div>
        </div>
        <!-- There should be chat -->
    </div>
{% include "partials/footer.html" %}
{% block scripts %}
{% endblock %}
</body>

</html>